{% load static %}
<script type="application/javascript" src="{% static "chosen-js/chosen.jquery.min.js" %}"></script>
<script type="application/javascript">
    function initFilterMultiSelects() {
        $('.dojo-filter-set select[multiple], .similar-filters select[multiple]').not('[data-tagulous]').each(function () {
            $(this).select2({width: '100%', closeOnSelect: false})
        })
    }

    $(function () {
        $(function () {
            if ($.fn.select2) {
                initFilterMultiSelects()
            } else {
                // select2 ships with the tagulous form media, so it is absent on filter forms
                // without a tag field. Load it explicitly there so every filter multi-select
                // renders as select2 pills instead of a raw, taller <select multiple>.
                $('<link>', {rel: 'stylesheet', href: "{% static 'tagulous/lib/select2-4/css/select2.min.css' %}"}).appendTo('head')
                var select2Script = document.createElement('script')
                select2Script.src = "{% static 'tagulous/lib/select2-4/js/select2.full.min.js' %}"
                select2Script.onload = initFilterMultiSelects
                document.head.appendChild(select2Script)
            }
            $('input[data-tagulous]').each(function () {
                Tagulous.select2($(this))
            })
        })


        $('.toggle-filters').on('click', function () {
            $(this).toggleClass("dropup");
        })

        <!-- what works on every other page with the 'e' keydown, conflicts here with the input fields in the filter div, stoppropagation 'fixes' this -->
        $('.is-filters').keydown( function(e) {
            e.stopPropagation();
        })

        $('#clear_js').on('click', function() {
            clear_form($(this).closest('form'))
        })
    })

    {% if title_words %}
        var title_words = [
                {% for word in title_words %}
                    "{{word|escapejs}}",
                {% endfor %}
            ];
            {% comment %}ideally we use the form.prefix but then we have the trailing dash... django templates are hard{% endcomment %}
            $("#id_title, #id_finding-title").autocomplete({
                source: title_words
            });
    {% endif %}

    {% if component_words %}
            var component_words = [
                {% for word in component_words %}
                    "{{word|escapejs}}",
                {% endfor %}
            ];

            $("#id_component_name, #id_finding-component_name").autocomplete({
                source: component_words
            });
    {% endif %}
</script>